/* General Page Style */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: #f2f2f2;
}

.title {
    text-align: center;
    font-size: 32px;
    margin: 20px 0;
    font-weight: bold;
    color: #333;
}

/* Category Buttons */
.categories {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-bottom: 25px;
}

.categories button {
    padding: 10px 20px;
    border: none;
    background: #ddd;
    cursor: pointer;
    border-radius: 8px;
    font-size: 16px;
    transition: 0.3s;
}

.categories button:hover {
    background: #bbb;
}

.categories .active {
    background: #000;
    color: #fff;
}

/* Gallery Container */
.gallery {
    width: 90%;
    margin: auto;
}

/* Category Blocks (CAR, BIKE, TRAIN groups) */
.gallery > div {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 40px;
}


.img-box {
    text-align: center;
    width: 100%;
}

.img-box img {
    display: block;
    margin: auto;
}

/* Image Name Style */
.img-box p {
    margin-top: 10px;
    font-size: 18px;
    font-weight: bold;
    color: #444;
}


/* Image Style */
.gallery img {
    width: 100%;
    max-width: 330px;
    height: 220px;
    object-fit: cover;
    border-radius: 12px;
    box-shadow: 0px 3px 10px rgba(0,0,0,0.15);
    transition: 0.3s;
}

.gallery img:hover {
    transform: scale(1.05);
}

/* Responsive */
@media (max-width: 600px) {
    .title {
        font-size: 24px;
    }

    .categories button {
        padding: 8px 15px;
        font-size: 14px;
    }

    .gallery img {
        max-width: 100%;
        height: 200px;
    }
}
